@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?crq6sa');
  src:  url('fonts/icomoon.eot?crq6sa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?crq6sa') format('truetype'),
    url('fonts/icomoon.woff?crq6sa') format('woff'),
    url('fonts/icomoon.svg?crq6sa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-topalertnew:before {
    /* content: "\e9e6"; */
	content: "\e929";
}
.icon-topevent:before {
   /* content: "\e9ee"; */
    content: "\e932";
}
.icon-host_other:before {
  content: "\e900";
}
.icon-processgroup_other:before {
  content: "\e901";
}
.icon-machine_windows:before {
  content: "\e902";
}
.icon-processgroup_donet:before {
  content: "\e903";
}
.icon-machine_linux:before {
  content: "\e904";
}
.icon-processgroup_java:before {
  content: "\e905";
}
.icon-processgroup_PHP:before {
  content: "\e906";
}
.icon-processgroup_python:before {
  content: "\e907";
}
.icon-processgroup_nodejs:before {
  content: "\e908";
}
.icon-processgroup_c:before {
  content: "\e909";
}
.icon-processgroup_go:before {
  content: "\e90a";
}
.icon-processgroup_ruby:before {
  content: "\e90b";
}
.icon-processgroup_lua:before {
  content: "\e90c";
}
.icon-processgroup_netcore:before {
  content: "\e90d";
}
.icon-processgroup_tomcat:before {
  content: "\e90e";
}
.icon-processgroup_weblogic:before {
  content: "\e90f";
}
.icon-processgroup_wesphere:before {
  content: "\e910";
}
.icon-processgroup_jboss:before {
  content: "\e911";
}
.icon-processgroup_wildfly:before {
  content: "\e912";
}
.icon-processgroup_jetty:before {
  content: "\e913";
}
.icon-processgroup_netty:before {
  content: "\e914";
}
.icon-processgroup_glassfish:before {
  content: "\e915";
}
.icon-processgroup_apusic:before {
  content: "\e916";
}
.icon-processgroup_resin:before {
  content: "\e917";
}
.icon-processgroup_tongweb:before {
  content: "\e918";
}
.icon-processgroup_springboot:before {
  content: "\e919";
}
.icon-processgroup_coldfusion:before {
  content: "\e91a";
}
.icon-processgroup_tomee:before {
  content: "\e91b";
}
.icon-processgroup_spark:before {
  content: "\e91c";
}
.icon-processgroup_cassandra:before {
  content: "\e91d";
}
.icon-processgroup_elasticsearch:before {
  content: "\e91e";
}
.icon-addmail:before {
  content: "\e91f";
}
.icon-addTag:before {
  content: "\e920";
}
.icon-analysisscreen:before {
  content: "\e921";
}
.icon-arrow-down:before {
  content: "\e922";
}
.icon-arrow-up:before {
  content: "\e923";
}
.icon-backend_collapse:before {
  content: "\e924";
}
.icon-backend_expand:before {
  content: "\e925";
}
.icon-bigScreen:before {
  content: "\e926";
}
.icon-bigScreen-old:before {
  content: "\e927";
}
.icon-business:before {
  content: "\e928";
}
.icon-callchain:before {
  content: "\e929";
}
.icon-chainscreen:before {
  content: "\e92a";
}
.icon-change:before {
  content: "\e92b";
}
.icon-changechart:before {
  content: "\e92c";
}
.icon-changetable:before {
  content: "\e92d";
}
.icon-changetable-topo:before {
  content: "\e92e";
}
.icon-changetopo:before {
  content: "\e92f";
}
.icon-close:before {
  content: "\e930";
}
.icon-collapse:before {
  content: "\e931";
}
.icon-connection:before {
  content: "\e932";
}
.icon-container:before {
  content: "\e933";
}
.icon-copy:before {
  content: "\e934";
}
.icon-crumbs:before {
  content: "\e935";
}
.icon-db_collapse:before {
  content: "\e936";
}
.icon-db_expand:before {
  content: "\e937";
}
.icon-delete:before {
  content: "\e938";
}
.icon-dingtalk:before {
  content: "\e939";
}
.icon-disable:before {
  content: "\e93a";
}
.icon-disable_monitoring:before {
  content: "\e93b";
}
.icon-down:before {
  content: "\e93c";
}
.icon-download:before {
  content: "\e93d";
}
.icon-download-topo:before {
  content: "\e93e";
}
.icon-downward:before {
  content: "\e93f";
}
.icon-edit:before {
  content: "\e940";
}
.icon-edit-new:before {
  content: "\e941";
}
.icon-email:before {
  content: "\e942";
}
.icon-enable:before {
  content: "\e943";
}
.icon-enable_monitoring:before {
  content: "\e944";
}
.icon-enlarge:before {
  content: "\e945";
}
.icon-expand:before {
  content: "\e946";
}
.icon-filter:before {
  content: "\e947";
}
.icon-float-drill:before {
  content: "\e948";
}
.icon-float-return:before {
  content: "\e949";
}
.icon-freeze:before {
  content: "\e94a";
}
.icon-fullscreen:before {
  content: "\e94b";
}
.icon-gotobot:before {
  content: "\e94c";
}
.icon-gototop:before {
  content: "\e94d";
}
.icon-guanbi:before {
  content: "\e94e";
}
.icon-handletip:before {
  content: "\e94f";
}
.icon-hidemenu:before {
  content: "\e950";
}
.icon-honeycomb:before {
  content: "\e951";
}
.icon-host:before {
  content: "\e952";
}
.icon-keybusiness:before {
  content: "\e953";
}
.icon-leftagent:before {
  content: "\e954";
}
.icon-leftagentdown:before {
  content: "\e955";
}
.icon-leftalertlist:before {
  content: "\e956";
}
.icon-leftalertlog:before {
  content: "\e957";
}
.icon-leftalertstrategy:before {
  content: "\e958";
}
.icon-leftalias:before {
  content: "\e959";
}
.icon-left-app:before {
  content: "\e95a";
}
.icon-leftapphost:before {
  content: "\e95b";
}
.icon-leftappoverview:before {
  content: "\e95c";
}
.icon-leftbusinesssetting:before {
  content: "\e95d";
}
.icon-leftcallchain:before {
  content: "\e95e";
}
.icon-leftchainsetting:before {
  content: "\e95f";
}
.icon-leftdatebase:before {
  content: "\e960";
}
.icon-lefterror:before {
  content: "\e961";
}
.icon-lefthostlist:before {
  content: "\e962";
}
.icon-lefthostoverview:before {
  content: "\e963";
}
.icon-leftmachineroom:before {
  content: "\e964";
}
.icon-leftnosql:before {
  content: "\e965";
}
.icon-leftnotice:before {
  content: "\e966";
}
.icon-leftoperatelog:before {
  content: "\e967";
}
.icon-leftpower:before {
  content: "\e968";
}
.icon-leftprocess:before {
  content: "\e969";
}
.icon-leftprotect:before {
  content: "\e96a";
}
.icon-leftreceiver:before {
  content: "\e96b";
}
.icon-leftreceivergroup:before {
  content: "\e96c";
}
.icon-leftreport:before {
  content: "\e96d";
}
.icon-leftreportchart:before {
  content: "\e96e";
}
.icon-leftrpcinvoke:before {
  content: "\e96f";
}
.icon-leftthreads:before {
  content: "\e970";
}
.icon-lefttopology:before {
  content: "\e971";
}
.icon-leftuser:before {
  content: "\e972";
}
.icon-manager:before {
  content: "\e973";
}
.icon-menu-left:before {
  content: "\e974";
}
.icon-menu-right:before {
  content: "\e975";
}
.icon-message:before {
  content: "\e976";
}
.icon-mima:before {
  content: "\e977";
}
.icon-monitor-close:before {
  content: "\e978";
}
.icon-monitor-open:before {
  content: "\e979";
}
.icon-more_menu:before {
  content: "\e97a";
}
.icon-nosql_collapse:before {
  content: "\e97b";
}
.icon-nosql_expand:before {
  content: "\e97c";
}
.icon-outside:before {
  content: "\e97d";
}
.icon-pagenext:before {
  content: "\e97e";
}
.icon-pagepre:before {
  content: "\e97f";
}
.icon-preview:before {
  content: "\e980";
}
.icon-processgroup_connect:before {
  content: "\e981";
}
.icon-publish:before {
  content: "\e982";
}
.icon-question:before {
  content: "\e983";
}
.icon-qywechat:before {
  content: "\e984";
}
.icon-reback:before {
  content: "\e985";
}
.icon-refresh:before {
  content: "\e986";
}
.icon-relevance:before {
  content: "\e987";
}
.icon-relevance-thin:before {
  content: "\e988";
}
.icon-remove:before {
  content: "\e989";
}
.icon-reset:before {
  content: "\e98a";
}
.icon-restore:before {
  content: "\e98b";
}
.icon-rpc_collapse:before {
  content: "\e98c";
}
.icon-rpc_expand:before {
  content: "\e98d";
}
.icon-save:before {
  content: "\e98e";
}
.icon-save-new:before {
  content: "\e98f";
}
.icon-screenNodb:before {
  content: "\e990";
}
.icon-screenNosql:before {
  content: "\e991";
}
.icon-search:before {
  content: "\e992";
}
.icon-setTop:before {
  content: "\e993";
}
.icon-setTop_old:before {
  content: "\e994";
}
.icon-setTop-old:before {
  content: "\e995";
}
.icon-showscreen:before {
  content: "\e996";
}
.icon-small_bell:before {
  content: "\e997";
}
.icon-small_bell_old:before {
  content: "\e998";
}
.icon-snapshot:before {
  content: "\e999";
}
.icon-spread:before {
  content: "\e99a";
}
.icon-table-custom:before {
  content: "\e99b";
}
.icon-tabledown:before {
  content: "\e99c";
}
.icon-thaw:before {
  content: "\e99d";
}
.icon-thread-other:before {
  content: "\e99e";
}
.icon-thread-process:before {
  content: "\e99f";
}
.icon-thread-task:before {
  content: "\e9a0";
}
.icon-topalarm:before {
  content: "\e9a1";
}
.icon-topalert:before {
  content: "\e9a2";
}
.icon-topautoreport:before {
  content: "\e9a3";
}
.icon-topbusiness:before {
  content: "\e9a4";
}
.icon-topchainsingle:before {
  content: "\e9a5";
}
.icon-topchainstack:before {
  content: "\e9a6";
}
.icon-topdashboard:before {
  content: "\e9a7";
}
.icon-topdeployment:before {
  content: "\e9a8";
}
.icon-topexit:before {
  content: "\e9a9";
}
.icon-topsetting:before {
  content: "\e9a1";
}
.icon-deployment:before {
	content: "\e9a3";	
}
.icon-tophostbase:before {
  content: "\e9aa";
}
.icon-topo-layout:before {
  content: "\e9ab";
}
.icon-topo-return:before {
  content: "\e9ac";
}
.icon-topoverview:before {
  content: "\e9ad";
}
.icon-topreport:before {
  content: "\e9ae";
}
.icon-topscreen:before {
  content: "\e9af";
}
.icon-topset:before {
  content: "\e9b0";
}
.icon-topsetting:before {
  content: "\e9b1";
}
.icon-topsystem:before {
  content: "\e9b2";
}
.icon-topuser:before {
  content: "\e9b3";
}
.icon-topusername:before {
  content: "\e9b4";
}
.icon-up:before {
  content: "\e9b5";
}
.icon-view:before {
  content: "\e9b6";
}
.icon-was:before {
  content: "\e9b7";
}
.icon-waterfall-left:before {
  content: "\e9b8";
}
.icon-waterfall-right:before {
  content: "\e9b9";
}
.icon-wechat:before {
  content: "\e9ba";
}
